@using Checkers.Client.Data
@code {
	List<Checker> grayCheckers = new List<Checker>();
	List<Checker> redCheckers = new List<Checker>();

	protected override void OnInitialized()
	{
		for (int i = 0; i < 3; i++)
		{
			for (int j = (i + 1) % 2; j < 8; j += 2)
			{
				grayCheckers.Add(new Checker
				{
					Color = "gray",
					Column = j,
					Row = i,
					Direction = CheckerDirection.Down
				});
			}
		}

		for (int i = 5; i < 8; i++)
		{
			for (int j = (i + 1) % 2; j < 8; j += 2)
			{
				redCheckers.Add(new Checker
				{
					Color = "red",
					Column = j,
					Row = i,
					Direction = CheckerDirection.Up
				});
			}
		}
	}

	Checker activeChecker = null;
	List<(int row, int column)> cellsPossible = new();
	void EvaluateCheckerSpots()
	{
		cellsPossible.Clear();
		if (activeChecker != null)
		{
			List<int> rowsPossible = new List<int>();
			if (activeChecker.Direction == CheckerDirection.Down ||
				activeChecker.Direction == CheckerDirection.Both)
			{
				rowsPossible.Add(activeChecker.Row + 1);
			}
			if (activeChecker.Direction == CheckerDirection.Up ||
				activeChecker.Direction == CheckerDirection.Both)
			{
				rowsPossible.Add(activeChecker.Row - 1);
			}

			foreach (var row in rowsPossible)
			{
				EvaluateSpot(row, activeChecker.Column - 1);
				EvaluateSpot(row, activeChecker.Column + 1);
			}
		}
	}

	void EvaluateSpot(int row, int column, bool firstTime = true)
	{
		var grayChecker = grayCheckers.FirstOrDefault(
			n => n.Column == column && n.Row == row);

		var redChecker = redCheckers.FirstOrDefault(
			n => n.Column == column && n.Row == row);

		if (grayChecker == null && redChecker == null)
		{
			cellsPossible.Add((row, column));
		}
		else if (firstTime)
		{
			// can i jump this checker?
			if ((redTurn && grayChecker != null) ||
				(!redTurn && redChecker != null))
			{
				int columnDifference = column - activeChecker.Column;
				int rowDifference = row - activeChecker.Row;

				EvaluateSpot(row + rowDifference, column + columnDifference, false);
			}
		}
	}

	void MoveChecker(int row, int column)
	{
		bool canMoveHere = cellsPossible.Contains((row, column));
		if (!canMoveHere)
			return;

		if (Math.Abs(activeChecker.Column - column) == 2)
		{
			// we jumped something
			int jumpedColumn = (activeChecker.Column + column) / 2;
			int jumpedRow = (activeChecker.Row + row) / 2;

			var grayChecker = grayCheckers.FirstOrDefault(
				n => n.Row == jumpedRow && n.Column == jumpedColumn);

			if (grayChecker != null)
				grayCheckers.Remove(grayChecker);

			var redChecker = redCheckers.FirstOrDefault(
				n => n.Row == jumpedRow && n.Column == jumpedColumn);

			if (redChecker != null)
				redCheckers.Remove(redChecker);
		}

		activeChecker.Column = column;
		activeChecker.Row = row;

		if (activeChecker.Row == 0 && activeChecker.Color == "red")
		{
			activeChecker.Direction = CheckerDirection.Both;
		}
		if (activeChecker.Row == 7 && activeChecker.Color == "gray")
		{
			activeChecker.Direction = CheckerDirection.Both;
		}

		activeChecker = null;
		redTurn = !redTurn;
		EvaluateCheckerSpots();
	}

	void CheckerClicked(Checker checker)
	{
		if (redTurn && checker.Color == "gray")
			return;
		if (!redTurn && checker.Color == "red")
			return;
		activeChecker = checker;
		EvaluateCheckerSpots();
	}

	bool redTurn = true;
}


@for (int i = 0; i < 8; i++)
{
	int localI = i;
	<div class="row">
		@for (int j = 0; j < 8; j++)
		{
			int localJ = j;
			var checker = grayCheckers.FirstOrDefault(n => n.Column == j && n.Row == i);
			if (checker == null)
			{
				checker = redCheckers.FirstOrDefault(n => n.Column == j && n.Row == i);
			}

			bool canMoveHere = cellsPossible.Contains((i, j));

			<div @onclick="() => MoveChecker(localI, localJ)" class="cell @(canMoveHere ? "active" : "")">
				@if (checker != null)
				{
					<div @onclick="() => CheckerClicked(checker)"
						 class="checker @checker.Color @(checker == activeChecker ? "active" : "")">
						<span>@(checker.Direction == CheckerDirection.Both ? "K" : "")</span>
					</div>
				}
			</div>
		}
	</div>
}
