.cell {
	height: 80px;
	width: 80px;
	padding: 10px;
	border: 1px solid black;
}

.cell.active {
	border: 3px solid blue;
}

.row:nth-child(2n) .cell:nth-child(2n+1) 
{
	background: #1F355A;
}
.row:nth-child(2n) .cell:nth-child(2n) {
	background: white;
}
.row:nth-child(2n+1) .cell:nth-child(2n+1) {
	background: white;
}

.row:nth-child(2n+1) .cell:nth-child(2n) {
	background: #1F355A;
}

.checker {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid black;
}

.checker.active {
	border: 4px solid black;
}

.checker span {
	text-align: center;
	margin-top: 10px;
	display: block;
}

.checker.gray {
	background: #eee;
	color: #fff;
}

.checker.red {
  background: #FF0000;
}
