@page "/"

<PageTitle>Final Project</PageTitle>
<h1>Egan Okumu's CPS 3330 Final Project</h1>
<h2>Checker Game</h2>
<p style="color:#0000FF">Player 2</p>
<Checkerboard />
<p style="color:#FF0000">Player 1</p>
